<div class="paper wrapper">
  <nav class="border split-nav">
    <div class="nav-brand">
      <h3><a href="#">LuPoké</a></h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1" />
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          @for(lang of store.languages(); track lang) {
          <li>
            <button
              class="btn-small"
              [class.btn-primary]="lang === store.selectedLang()"
              (click)="store.setLang(lang)"
            >
              {{ lang }}
            </button>
          </li>
          }
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-lg">
    <div class="form-group">
      <input
        class="input-block"
        type="text"
        id="pokeSearch"
        placeholder="Search..."
        [ngModel]="store.search()"
        (ngModelChange)="store.setSearch($event)"
      />
    </div>

    <ul class="type-list">
      @for(type of store.types(); track type) {
      <li>
        <button
          class="btn-small"
          [class.btn-primary]="type.id === store.selectedTypeId()"
          (click)="store.setTypeId(type.id)"
        >
          {{ type.name }}
        </button>
      </li>
      }
    </ul>

    <div>
      <h2>Pokémons ({{ store.collection.count() }})</h2>

      <ul class="pokemon-list">
        @for(pokemon of store.collection.items(); track pokemon.id) {
        <li>
          <img [src]="pokemon.image" [alt]="pokemon.name + '\'s picture'" />
          {{ pokemon.name }}
        </li>
        }
      </ul>

      <div class="load-more">
        @if(store.hasMoreResults()) {
        <button (click)="store.loadMore()">Afficher plus</button>
        }
      </div>
    </div>
  </main>
</div>
